
.icon-baggage:before { content: '\e800'; } /* '' */
.icon-bathtub:before { content: '\e801'; } /* '' */
.icon-bed:before { content: '\e802'; } /* '' */
.icon-building:before { content: '\e803'; } /* '' */
.icon-building-1:before { content: '\e804'; } /* '' */
.icon-building-2:before { content: '\e805'; } /* '' */
.icon-check:before { content: '\e806'; } /* '' */
.icon-couple:before { content: '\e807'; } /* '' */
.icon-crane:before { content: '\e808'; } /* '' */
.icon-crane-1:before { content: '\e809'; } /* '' */
.icon-document:before { content: '\e80a'; } /* '' */
.icon-electricity:before { content: '\e80b'; } /* '' */
.icon-entrance:before { content: '\e80c'; } /* '' */
.icon-factory:before { content: '\e80d'; } /* '' */
.icon-fair-price:before { content: '\e80e'; } /* '' */
.icon-family:before { content: '\e80f'; } /* '' */
.icon-fence:before { content: '\e810'; } /* '' */
.icon-garage:before { content: '\e811'; } /* '' */
.icon-garage-1:before { content: '\e812'; } /* '' */
.icon-house:before { content: '\e813'; } /* '' */
.icon-house-1:before { content: '\e814'; } /* '' */
.icon-house-key:before { content: '\e815'; } /* '' */
.icon-house-price:before { content: '\e816'; } /* '' */
.icon-house-size:before { content: '\e817'; } /* '' */
.icon-imac:before { content: '\e818'; } /* '' */
.icon-ipad:before { content: '\e819'; } /* '' */
.icon-key:before { content: '\e81a'; } /* '' */
.icon-laptop:before { content: '\e81b'; } /* '' */
.icon-location:before { content: '\e81c'; } /* '' */
.icon-lock:before { content: '\e81d'; } /* '' */
.icon-mailbox:before { content: '\e81e'; } /* '' */
.icon-map:before { content: '\e81f'; } /* '' */
.icon-negotiation:before { content: '\e820'; } /* '' */
.icon-open-door:before { content: '\e821'; } /* '' */
.icon-paint-roller:before { content: '\e822'; } /* '' */
.icon-pet:before { content: '\e823'; } /* '' */
.icon-phone:before { content: '\e824'; } /* '' */
.icon-pipes:before { content: '\e825'; } /* '' */
.icon-plan:before { content: '\e826'; } /* '' */
.icon-search-home:before { content: '\e827'; } /* '' */
.icon-shop:before { content: '\e828'; } /* '' */
.icon-shower:before { content: '\e829'; } /* '' */
.icon-sign:before { content: '\e82a'; } /* '' */
.icon-smartphone:before { content: '\e82b'; } /* '' */
.icon-sofa:before { content: '\e82c'; } /* '' */
.icon-statistic:before { content: '\e82d'; } /* '' */
.icon-swimming-pool:before { content: '\e82e'; } /* '' */
.icon-television:before { content: '\e82f'; } /* '' */
.icon-truck:before { content: '\e830'; } /* '' */
.icon-agreement:before { content: '\e831'; } /* '' */
.icon-elevator:before { content: '\e832'; } /* '' */
.icon-fence-1:before { content: '\e833'; } /* '' */
.icon-garage-2:before { content: '\e834'; } /* '' */
.icon-house-2:before { content: '\e835'; } /* '' */
.icon-house-3:before { content: '\e836'; } /* '' */
.icon-house-4:before { content: '\e837'; } /* '' */
.icon-oven:before { content: '\e838'; } /* '' */
.icon-placeholder:before { content: '\e839'; } /* '' */
.icon-refrigerator:before { content: '\e83a'; } /* '' */
.icon-shopping-cart:before { content: '\e83b'; } /* '' */
.icon-shower-1:before { content: '\e83c'; } /* '' */
.icon-snow:before { content: '\e83d'; } /* '' */
.icon-stove:before { content: '\e83e'; } /* '' */
.icon-swimming-pool-1:before { content: '\e83f'; } /* '' */
.icon-television-1:before { content: '\e840'; } /* '' */
.icon-thermometer:before { content: '\e841'; } /* '' */
.icon-video-camera:before { content: '\e842'; } /* '' */
.icon-washer-machine:before { content: '\e843'; } /* '' */
.icon-watchtower:before { content: '\e844'; } /* '' */
.icon-wifi:before { content: '\e845'; } /* '' */
.icon-balcony:before { content: '\e846'; } /* '' */
.icon-bathtub-1:before { content: '\e847'; } /* '' */
.icon-bell:before { content: '\e848'; } /* '' */
.icon-bus:before { content: '\e849'; } /* '' */
.icon-dog:before { content: '\e84a'; } /* '' */
.icon-drawers:before { content: '\e84b'; } /* '' */
.icon-dumbbell:before { content: '\e84c'; } /* '' */
.icon-hotel:before { content: '\e84d'; } /* '' */
.icon-bouncy-castle:before { content: '\e84e'; } /* '' */
.icon-location-1:before { content: '\e84f'; } /* '' */
.icon-mail:before { content: '\e850'; } /* '' */
.icon-phone-call:before { content: '\e851'; } /* '' */
.icon-building-3:before { content: '\e852'; } /* '' */
.icon-square-layout-with-black-square-on-southeast-area:before { content: '\e853'; } /* '' */
.icon-handshake:before { content: '\e854'; } /* '' */
.icon-apartment:before { content: '\e855'; } /* '' */
.icon-play-circle:before { content: '\e856'; } /* '' */