{% extends 'base/base.html' %}
{% load static %}
{% block title %}EMW | Steel Fabrication {% endblock %}
{% block content %}
<div class="page-header">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="page-section">
                    <h1 class="page-title ">Steel Fabrication </h1>

                </div>
            </div>
        </div>
    </div>
</div>
<div class="pdt80">
    <div class="container">
        <div class="author-block">
            <!-- Post author -->
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                    <div class="author-img">
                        <a href="#"><img src="{% static 'images/author.jpg' %}" class="img-circle"
                                alt="conversion of shipping containers into offices or homes"></a>
                    </div>
                </div>
                <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
                    <div class="author-post-content ">
                        <div class="author-header">
                            <h3><a href="#" class="title">Conversion of shipping containers into offices or homes</a>
                            </h3>
                        </div>
                        <div class="author-content">
                            <p>Etiam laoreet sitamet purus sed vestibulu ullam cursus lacus eget pharetra accumsan ante
                                metus tinante in ones leousce in consectetur lacus non efficiturex.</p>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="author-block">
            <!-- Post author -->
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                    <div class="author-img">
                        <a href="#"><img src="{% static 'images/author.jpg' %}" class="img-circle"
                                alt="Steel Sheds"></a>
                    </div>
                </div>
                <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
                    <div class="author-post-content ">
                        <div class="author-header">
                            <h3><a href="#" class="title">Steel Sheds</a>
                            </h3>
                        </div>
                        <div class="author-content">
                            <p>Etiam laoreet sitamet purus sed vestibulu ullam cursus lacus eget pharetra accumsan ante
                                metus tinante in ones leousce in consectetur lacus non efficiturex.</p>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="author-block">
            <!-- Post author -->
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                    <div class="author-img">
                        <a href="#"><img src="{% static 'images/author.jpg' %}" class="img-circle"
                                alt="general welding"></a>
                    </div>
                </div>
                <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
                    <div class="author-post-content ">
                        <div class="author-header">
                            <h3><a href="#" class="title">General Welding</a>
                            </h3>
                        </div>
                        <div class="author-content">
                            <p>Etiam laoreet sitamet purus sed vestibulu ullam cursus lacus eget pharetra accumsan ante
                                metus tinante in ones leousce in consectetur lacus non efficiturex.</p>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
{% endblock %}