{% extends 'base/base.html' %}
{% load static %}
{% block title %}EMW | FAQs{% endblock %}
{% block content %}
<div class="page-header">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="page-section">
                    <h1 class="page-title ">Frequently Asked Questions </h1>

                </div>
            </div>
        </div>
    </div>
</div>
<div class="pdt80">
    <div class="container">
        {% if obj %}

        <div class="panel-group" id="accordion">
            {% for faq in obj %}
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#{{forloop.counter }}">
                            {{faq.question|title}}</a>
                    </h4>
                </div>
                <div id="{{forloop.counter }}" class="panel-collapse collapse">
                    <div class="panel-body">
                        {{faq.answer|safe}}
                    </div>
                </div>
            </div>
            {% endfor %}

        </div>
        {% else %}
        <h1 style="text-align: center;">No FAQs Posted.</h1>
        {% endif %}
    </div>
</div>

{% endblock %}